DevGuideApp/Project2/SOA/WSDLs/MyAsyncSpellerWebService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="MyAsyncSpellerWebService"
                  targetNamespace="http://neoflex.ru/DevGuideApp/Project2/MyAsyncSpellerWebService"
                  xmlns:tns="http://neoflex.ru/DevGuideApp/Project2/MyAsyncSpellerWebService"
                  xmlns:inp1="http://www.neoflex.ru/DevGuideApp/Project2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.neoflex.ru/DevGuideApp/Project2" schemaLocation="../Schemas/CheckText.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessage">
    <wsdl:part name="part1" element="inp1:CheckTextRequest"/>
  </wsdl:message>
  <wsdl:message name="callbackMessage">
    <wsdl:part name="part1" element="inp1:CheckTextResponse"/>
  </wsdl:message>
  <wsdl:portType name="execute_ptt">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:requestMessage"/>
    </wsdl:operation>
  </wsdl:portType>
    <wsdl:portType name="callback_ptt">
    <wsdl:operation name="callback">
      <wsdl:input message="tns:callbackMessage"/>
    </wsdl:operation>
  </wsdl:portType>
    <wsdl:binding name="callback_pttBinding" type="tns:callback_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="callback">
      <soap:operation style="document" soapAction="callback"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAsyncSpellerWebServiceCallback">
    <wsdl:port name="callback_pt" binding="tns:callback_pttBinding">
      <soap:address location="endpoint"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
